<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div style="margin: auto; width: 100%; max-width: 1000px;">
    <h1>Logowanie</h1>

    <p th:if="${showSuccesMessage}">Brawo jesteś zarejestrowany!</p>

    <p th:if="${showErrorMessage}">Niepoprawne logowanie!</p>

    <form class="form" th:action="@{/login}" method="post">
        <div class="mb-3">
            <label for="Username" class="form-label">Username</label>
            <input name="username" placeholder="Username" class="form-control" id="Username">
        </div>
        <div class="mb-3">
            <label for="Username" class="form-label">Password</label>
            <input name="password" placeholder="Password" class="form-control" id="Password">
        </div>
        <button type="submit" class="btn btn-primary">Zaloguj się</button>
    </form>
</div>

</body>
</html>