<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>

<div style="margin: auto; width: 100%; max-width: 1000px;">
    <h1>Formularz rejestracji</h1>

    <form class="form" action="#" method="post" th:action="@{/registration}" th:object="${user}">
        <div class="mb-3">
            <label for="Username" class="form-label">Username</label>
            <p th:errors="*{username}">Username errors</p>
            <input th:field="*{username}" type="text" placeholder="Username" class="form-control" id="Username">
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <p th:errors="*{password}">Password errors</p>
            <input th:field="*{password}" type="text" placeholder="Password" class="form-control" id="Password">
        </div>
        <button type="submit" class="btn btn-primary">Zarejestryj się</button>
    </form>
</div>

</body>
</html>